<footer class="">
    <div class="testFooter">
        <ul class="footer_content">
            <li>ⒸPick Ups</li>
            <li>About</li>
            <li>Contact</li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
</footer>
</body>
</html>