<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <h1>About</h1>
            <p>Phasellus ultrices ligula ac lorem pellentesque elementum. Fusce erat elit, lobortis ut quam sit amet, 
                iaculis malesuada lorem. Aenean id ex auctor, fringilla tortor eget, finibus urna. Aliquam vel mi sit 
                amet leo accumsan blandit non nec mauris. In tincidunt quis elit blandit faucibus. Donec dictum ligula
                vel nibh ultricies pellentesque. Aenean tincidunt libero porta, pellentesque metus in, dictum tortor.
                Duis vehicula nisi et iaculis faucibus. Proin ut tortor condimentum magna accumsan fringilla in sit amet 
                orci. Pellentesque bibendum sit amet lorem id pellentesque. In pharetra auctor faucibus. Praesent rutrum 
                fermentum quam in posuere. Vestibulum cursus nunc lacus, in lobortis mi varius vehicula. Etiam porta, 
                justo a rhoncus accumsan, nisi ante posuere tortor, et maximus leo dui ac dui. Cras egestas leo non 
                risus rhoncus rutrum. Phasellus facilisis non erat sit amet posuere.</p>
            

        </div>
    </div>
<%- include('./partials/footer.ejs') %>