<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <h1>About</h1>
            <img src="./images/logo.png" class="logo">
            <p class="about">PickUps is a community where people can find others to play any sports together! Whether is a pick up basketball
                game where you need a few more players or a small doubles tournament of tennis, there will be something for you here.

            </p>
            

        </div>
    </div>
<%- include('./partials/footer.ejs') %>