<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="jumbotron">
        
            <h1>Welcome to Pick Ups!</h1>
            <p>Use this site to find pick up games near you! Whether you're interested in basketball, football, soccer, 
                or any other sport, you can find games to join here. Take a look around to find your next match. </p>

        </div>
    </div>
<%- include('./partials/footer.ejs') %>