.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
}
.navbar{
    height: 400;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: peru;
    width: 100%;
    height: 250px;
}

.footer_content {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.footer_content li {
    margin: 0 40px;
}

.sports li {
    list-style: none;
    font-size: large;
    margin: 10px;
}

.sports a {
    color: peru;
}

.topcon {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.topcon button {
    background-color: black;
    border-radius: 10px;
    /* text-decoration: none; */
}

.topcon button:hover {
    background-color: black;
    /* text-emphasis: none; */
    text-decoration: none;
}

.topcon a{
    color: white;
    text-decoration: none;
}

img {
    height: 200px;
}

table {
    margin-top: 20px;
}

form {
    width: 70%;
    margin: auto;
}

.btn-success {
    background-color: black;
}

/* attempting to place an image in the place of the title "Pickups" for branding 
/* .navbar-brand img {
    height: 100px;
    /* margin-bottom: 500px; */
    /* margin: auto; */
/*
.narbar-left {
    margin: auto;
} */