<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="jumbotron">
            <h1>Sports</h1>
            <div class="sports">
                <h2>Basketball</h2>
                <ul>
                    <li><a href="connection.html">3 on 3 at Freedom Park</a></li>
                    <li><a href="connection.html">Horse at UREC</a></li>
                    <li><a href="connection.html">Reedy Creek Park - 8/29/2021 @ 10:30 A.M.</a></li>
                </ul>

                <h2>Soccer</h2>
                <ul>
                    <li><a href="connection.html">Penalty Practice at Northeast Rec Field</a></li>
                    <li><a href="connection.html">8 on 8 at Franklise Park</a></li>
                    <li><a href="connection.html">11 on 11 at Kirk Farm Fields </a></li>
                </ul>

                <!-- <h2>Tennis</h2>
                <ul>
                    <li><a>Freedom Park - 8/29/2021 @ 10:30 A.M.</a></li>
                    <li><a>Freedom Park - 8/29/2021 @ 10:30 A.M.</a></li>
                    <li><a>Freedom Park - 8/29/2021 @ 10:30 A.M.</a></li>
                </ul> -->
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>